[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 26px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #000000;
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 0;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 2px;
    width: 15px;
    height: 15px;
    border: 1px solid #464646;
    border-radius: 100%;
    background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 7px;
    height: 7px;
    background: black;
    position: absolute;
    top: 6px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.reset-forms-wrapper {
    background: #e8eaed;
    padding: 110px 10px 70px;
}

.reset-password-form {
    width: 100%;
    max-width: 704px;
    margin: 0 auto;
    background: white;
}

.form-title {
    padding: 18px 36px 24px;
    font-weight: 400;
    font-size: 19px;
    color: #000000;
}

.form-title > span {
    font-family: 'Raleway - Semi Bold', sans-serif;
    border-bottom: 1px solid black;
    display: block;
    padding-bottom: 11px;
}

.form-info {
    color: #000000;
    font-size: 16px;
    font-weight: 400;
    padding: 0 36px 22px;
    letter-spacing: 0.3px;
    line-height: 21px;
}

.field-wrapper {
    background: #e1e1e1;
    padding: 6px 36px 8px;
    margin-bottom: 2px;
}

.label-img {
    position: relative;
    top: -3px;
    display: inline-block;
    margin-right: 3px;
}

.input-text {
    display: block;
    width: 100%;
    max-width: 258px;
    height: 29px;
    border: 1px solid #252525;
    background-color: #ffffff;
    line-height: 29px;
    font-family: "Arial MT", sans-serif;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.3px;
    padding: 0 6px;
    margin-left: 48px;
}

::-webkit-input-placeholder {
    color: #acabab;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.3px;
}
::-moz-placeholder {
    color: #acabab;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.3px;
}
:-ms-input-placeholder {
    color: #acabab;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.3px;
}
:-moz-placeholder {
    color: #acabab;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.3px;
}

.action {
    padding: 26px 10px 30px;
}

.button-continue {
    display: block;
    max-width: 83px;
    width: 100%;
    cursor: pointer;
    height: 23px;
    line-height: 21px;
    color: #ffffff;
    font-family: "Raleway - Semi Bold", sans-serif;
    font-size: 16px;
    border: 1px solid #252525;
    background-color: #184acf;
    border-radius: 2px;
    margin: auto;
}

.enter-code .input-text {
    height: 39px;
    max-width: 291px;
    line-height: 39px;
    font-size: 30px;
    letter-spacing: 0.75px;
    margin: 0;
}

.enter-code .input-text::-webkit-input-placeholder {
    font-size: 30px;
    line-height: 39px;
    text-transform: capitalize;
    color: #9f9f9f;
}
.enter-code .input-text::-moz-placeholder {
    font-size: 30px;
    line-height: 39px;
    text-transform: capitalize;
    color: #9f9f9f;
}
.enter-code .input-text:-ms-input-placeholder {
    font-size: 30px;
    line-height: 39px;
    text-transform: capitalize;
    color: #9f9f9f;
}
.enter-code .input-text:-moz-placeholder {
    font-size: 30px;
    line-height: 39px;
    text-transform: capitalize;
    color: #9f9f9f;
}

.enter-code {
    display: flex;
    justify-content: space-between;
    padding: 0 36px 50px;
}

.sent-top {
    color: #000000;
    font-size: 14px;
    font-weight: 700;
}

.sent-mail {
    color: #000000;
    font-family: "Arial MT", sans-serif;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.3px;
}

.actions-bottom {
    display: flex;
    justify-content: space-between;
    padding: 20px 36px;
    background: #e1e1e1;
}

.buttons-wrapper {
    display: flex;
}

.buttons-wrapper .button-continue {
    margin-right: 10px;
}

.button-continue.cancel {
    background-color: #ffffff;
    border: 1px solid #252525;
    color: #000000;
    font-size: 16px;
    font-weight: 400;
}

.check-mail-info {
    padding-top: 6px;
    padding-bottom: 42px;
}


@media only screen and (max-width: 768px) {
    .input-text {
        margin: 0 auto;
    }

    .enter-code {
        flex-direction: column;
    }

    .sent-info {
        margin-top: 15px;
    }

    .actions-bottom {
        flex-direction: column;
    }

    .get-code-link {
        margin-bottom: 10px;
    }

    .buttons-wrapper .button-continue {
        margin: auto;
    }

    .buttons-wrapper {
        flex-direction: column;
    }

    .buttons-wrapper > .button-continue {
        max-width: 100%;
        width: 100%;
        margin: 0 0 5px 0;
    }
}